---
// Imports
// Components
import Main from '../components/ui/Main.astro'
import Header from '../components/blocks/head/Header.astro'
// Scripts
import Scriprs from '../components/scripts/LocalScripts.astro'
import GoogleTagManagerBody from '../components/scripts/googleTagManagerBody.astro'
// Styles
import '../styles/global.css'
// Fonts
import '@fontsource-variable/inter'
import '@fontsource-variable/outfit'
// Data
import { configData } from '../config/config'

// Props
type Props = {
	title?: string
	description?: string
	ogImage?: string
	noindex?: boolean
	class?: string // Add class to Props
}
// Page Metadata
const { title, description, ogImage, noindex, class: className } = Astro.props // Destructure class as className
---

<!doctype html>
<html lang="en" class="scroll-animation mode-auto">
	<Header title={title} description={description} ogImage={ogImage} noindex={noindex} />
	<body
		class:list={[
			className, // Use the passed className
			{ ['mode-' + `${configData.mode}`]: configData.mode },
			{ ['scroll-animation']: configData.scrollAnimations }
		]}
	>
		<GoogleTagManagerBody />
		<Main>
			<slot />
		</Main>
		<Scriprs />
	</body>
</html>
